

.right-sidebar {
    width: 20%;
    padding: 20px;
    border: 0.5px solid #393960;
    position: fixed; /* Fix the sidebar */
    top: 70px; /* Space below the navbar */
    right: 0;
    height: calc(100vh - 70px); /* Full height minus navbar */
    overflow-y: auto; /* Allow scrolling if content overflows */
  }
  .login-button-container {
    background-color: #393960;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #FFF;
    color: #1A1A2E;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #e0e0e0;
  }
  
  .user-list {
    background-color: #393960;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .user-list h2 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #FFF;
  }
  
  .user-list .user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .user-list .user:hover {
    background-color: #4B4B6A;
  }
  
  .user-list .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #555;
    margin-right: 10px;
  }
  
  .user-list .user span {
    color: #FFF;
    font-size: 0.9em;
  }
  
  .see-more-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #528B8B;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .see-more-button:hover {
    background-color: #224466;
  }
  
  /* Leaderboard styling */
  .leaderboard {
    background-color: #3D3D56;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .leaderboard h2 {
    margin-bottom: 10px;
    color: #FFF;
  }
  
  .leaderboard ul {
    list-style-type: none;
    padding: 0;
  }
  
  .leaderboard li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #555;
  }
  
  .leaderboard .score {
    color: #FFD700;
  }
  
  .see-all-button {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    background-color: #336699;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .see-all-button:hover {
    background-color: #224466;
  }
  
  .user-list .user .email {
    color: rgba(255, 255, 255, 0.6); /* Màu chữ mờ */
    font-size: 0.8em; /* Kích thước chữ nhỏ hơn */
  }
  
  .email {
    color: rgba(255, 255, 255, 0.6); /* Màu chữ mờ */
    font-size: 0.8em; /* Kích thước chữ nhỏ hơn */
    margin-top: 4px; /* Thêm khoảng cách giữa tên và email */
  }