* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-content {
  background-color: #1A1A2E;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Add some padding for better spacing */
}

.user-list {
  width: 100%;
  max-width: 800px; /* Set a maximum width for the user list */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #555; /* Add a bottom border for separation */
  transition: background-color 0.3s ease;
}

.user:hover {
  background-color: #4B4B6A; /* Change background color on hover */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
  margin-right: 10px;
  background-size: cover; /* Ensure the avatar image covers the div */
}

.username {
  color: #FFF;
  font-size: 1.1em;
}
