/* Post.css */
.post {
  margin-bottom: 35px;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: #252D3A;
  box-shadow: 10px 10px 5px #02020292; /* Đổ bóng 45 độ */
  transition: box-shadow 0.3s ease; /*Tạo hiệu ứng chuyển tiếp*/
}

.post:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.post h1 {
  margin-bottom: 10px;
}

.post p {
  margin-bottom: 10px;
}

.image-carousel {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  /* Cho phép cuộn ngang */
  white-space: nowrap;
  /* Giữ các ảnh trên một dòng */
  position: relative; /* Để sử dụng cho thanh cuộn tùy chỉnh */
  margin-bottom: 30px;
}

/* Thanh cuộn tùy chỉnh */
.image-carousel::-webkit-scrollbar {
  height: 8px; /* Chiều cao thanh cuộn */
  opacity: 0; /* Ẩn thanh cuộn */
  transition: opacity 0.3s; /* Hiệu ứng chuyển tiếp */
}

.image-carousel:hover::-webkit-scrollbar {
  opacity: 1; /* Hiện thanh cuộn khi hover */
}

/* Tùy chỉnh kiểu dáng thanh cuộn */
.image-carousel::-webkit-scrollbar-thumb {
  background: #ffffff; /* Màu của thanh cuộn */
  border-radius: 10px; /* Bo góc thanh cuộn */
}

.image-carousel::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu khi hover vào thanh cuộn */
}

.image-carousel img {
  max-width: 150px;
  min-width: 150px;
  /* Giới hạn chiều rộng của ảnh */
  height: 150px;
  border-radius: 5px;
  object-fit: fill;
  user-select: none; /* Ngăn chặn tô đen khi kéo */
}

.like-section {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}

.like-section__div {
  display: flex;
  align-items: center;
}

.like-button, .dislike-button{
  border: none;
  background-color: #252D3A;
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

.like-count, .dislike-count{
  font-size: 0.9em;
  color: #555;
}