.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    /* position: relative;
    top: -75px; */
    margin: 0;
    padding: 10px 10px;
    /* display: block; Đảm bảo ảnh avatar là block element để căn giữa */
    position: absolute; /* Thay đổi thành absolute để định vị chính xác */
    top: 100%; /* Đặt ở giữa theo chiều dọc */
    left: 50%; /* Đặt ở giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Để đưa chính giữa */
    z-index: 1; /* Đảm bảo avatar nằm trên ảnh bìa */
  }
  
  .profile-avatar__image {
    width: 100%;
    height: 100%;
    border-radius: 10%;
  }