.user-info {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}
  
  .user-info__name {
    font-size: 28px;
    font-weight: bold;
    height: 45px;
    line-height: 45px; /* Đặt line-height bằng với chiều cao */
    text-align: center;
  }
  
  .user-info__bio {
    font-weight: bold;
    font-size: 16px;
    color: #8D8080;
    margin-bottom: 5px;
  }
  
  .user-info__details p {
    margin: 5px 0 0;
  }
  